*{
    font-family: 'Raleway', serif;
    font-weight: 600;
}

body{
    background-color: #EEF2FF;

}

h1{
    font-size: 41px;
    font-style: normal;
    line-height: 49px;
    color: #111A55;
}
.p-button{
    box-shadow: none !important;
}