*{
    font-family: 'Raleway';
    font-weight: 600;
}

body{
    background-color: #EEF2FF;

}

h1{
    font-size: 41px;
    font-style: normal;
    font-size: 41px;
    line-height: 49px;
    color: #111A55;
}
